<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Zapraszam do kontaktu rodziców dzieci z nieprawidłowościami w rozwoju mowy</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#contact">
                <img class="img-portfolio img-responsive" src="img/terapia11.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#contact">
                <img class="img-portfolio img-responsive" src="img/terapia2.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#contact">
                <img class="img-portfolio img-responsive" src="img/terapia3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#contact">
                <img class="img-portfolio img-responsive" src="img/terapia4.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#contact" class="btn btn-dark">Kontakt</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
